<!DOCTYPE html>

<h2>
	User's New Topics Page
</h2>

<h3>
	<%= "#{@user.fname} #{@user.lname}" %>
</h3>

<div>
	<%= form_for(@topic, method: :post) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :description %>
		<%= f.text_field :description %>
		<%= f.submit :new_topic %>
	<% end %>
</div>