<!DOCTYPE html>

<div>
		<%= form_tag "/sessions" do %>
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button type="submit">Log In</button>
		<% end %>
	</div>

	<div>
		
		<%= link_to "Log Out", session_path(@user), method: :delete %>
	</div>

<h2>
	All Users
</h2>

<div>
	<ul>
		<% @user.all.each do |u| %>
		<li>
			<%= "#{u.fname} #{u.lname} (#{u.id})" %><br>
			Latest Comment:
			<%if u.comments.last.nil? %>
			<%= "new user, hasn't posted yet" %>
			<% else %>
			<%= u.comments.last.body %><br>
			Posted to:
			<%= u.comments.last.topic.title %>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>