<!DOCTYPE html>

<h2>
	New User's Page
</h2>

<div>
	<%= form_for User.new do |f| %>
		<%= f.label :fname %>
		<%= f.text_field :fname %><br>
		<%= f.label :lname %>
		<%= f.text_field :lname %><br>
		<%= f.label :email %>
		<%= f.text_field :email %><br>
		<%= f.label :password %>
		<%= f.password_field :password %><br>
		<%= f.submit :Create %>
	<% end %>
</div>